/* this is a CSS comment */
/* CSS RESET - APPLIED TO EVERYTHING*/
*{
    margin: 0;
    padding: 0;
    line-height: 1.6; /* seperate line for readability */
}


/* this block targets the <body> */
body {
    background-color:aquamarine ; 
    font-family: 'Courier New', Courier, monospace;   
    font-size: 18px;
}

/* GROUP SELECTOR*/
h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0.5em; /* em unit scales with font size*/
}